<LinkTo class="button" @route="downloads">View Homework Assignment</LinkTo>

<p>
  <h2>Notes:</h2>
  <ul>
    <li>This application was built using Ember 3.15 (Octane)</li>
    <li>This application was tested in Safari 13.0.2 and Chrome 79.0.3945.88 on MacBook Air (13-inch, Early 2015)</li>
    <li>A few tests were written for this homework assignment (one acceptance test and one component test)</li>
    <li>Screenshots of this application as it appears in Safari 13.0.2 have been provided below for your reference</li>
  </ul>
</p>
<hr />
<p><img src="assets/images/01-default.png" alt="Default UI" /></p>
<p><img src="assets/images/02-selected-files-partial.png" alt="Selected Files - partial" /></p>
<p align="center"><img src="assets/images/04-alert.png" alt="Download Alert" /></p>
<p><img src="assets/images/03-selected-files-all.png" alt="Selected Files - all" /></p>
