<LinkTo class="button" @route="downloads">View Homework Assignment</LinkTo>

<p>Screenshots below illustrate UI expectations for this Homework Assignment:</p>
<hr />
<p><img src="assets/images/01-default.png" alt="Default UI" /></p>
<p><img src="assets/images/02-selected-files-partial.png" alt="Selected Files - partial" /></p>
<p align="center"><img src="assets/images/04-alert.png" alt="Download Alert" /></p>
<p><img src="assets/images/03-selected-files-all.png" alt="Selected Files - all" /></p>
